
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGameLabel" data-translate="baloncestoApp.game.home.createOrEditLabel">Create or edit a Game</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.game.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.game.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="baloncestoApp.game.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.game.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="baloncestoApp.game.localScore" for="field_localScore">Local Score</label>
            <input type="number" class="form-control" name="localScore" id="field_localScore"
                    ng-model="vm.game.localScore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="baloncestoApp.game.visitorScore" for="field_visitorScore">Visitor Score</label>
            <input type="number" class="form-control" name="visitorScore" id="field_visitorScore"
                    ng-model="vm.game.visitorScore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="baloncestoApp.game.startTime" for="field_startTime">Start Time</label>
                <div class="input-group">
                    <input id="field_startTime" type="text" class="form-control" name="startTime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.game.startTime" is-open="vm.datePickerOpenStatus.startTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="baloncestoApp.game.finishTime" for="field_finishTime">Finish Time</label>
                <div class="input-group">
                    <input id="field_finishTime" type="text" class="form-control" name="finishTime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.game.finishTime" is-open="vm.datePickerOpenStatus.finishTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('finishTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="baloncestoApp.game.localTeam" for="field_localTeam">Local Team</label>
            <select class="form-control" id="field_localTeam" name="localTeam" ng-model="vm.game.localTeam" ng-options="team as team.name for team in vm.teams track by team.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="baloncestoApp.game.visitorTeam" for="field_visitorTeam">Visitor Team</label>
            <select class="form-control" id="field_visitorTeam" name="visitorTeam" ng-model="vm.game.visitorTeam" ng-options="team as team.name for team in vm.teams track by team.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
