<div>
    <h2 data-translate="baloncestoApp.favouritePlayer.home.title">Favourite Players</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="favourite-player.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="baloncestoApp.favouritePlayer.home.createLabel">
                        Create new Favourite Player
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>


    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="favouriteDateTime"><span data-translate="baloncestoApp.favouritePlayer.favouriteDateTime">Favourite Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span data-translate="baloncestoApp.favouritePlayer.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="player.name"><span data-translate="baloncestoApp.favouritePlayer.player">Player</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="favouritePlayer in vm.favouritePlayers track by favouritePlayer.id">
                    <td><a ui-sref="favourite-player-detail({id:favouritePlayer.id})">{{favouritePlayer.id}}</a></td>
                    <td>{{favouritePlayer.favouriteDateTime | date:'medium'}}</td>
                    <td>
                        {{favouritePlayer.user.login}}
                    </td>
                    <td>
                        <a ui-sref="player-detail({id:favouritePlayer.player.id})">{{favouritePlayer.player.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="favourite-player-detail({id:favouritePlayer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="favourite-player.edit({id:favouritePlayer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <!--Add restricción para que solo admin puedan modificar-->
                            <button type="submit"
                                    ui-sref="favourite-player.delete({id:favouritePlayer.id})"
                                    class="btn btn-danger btn-sm" has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>Top 5 Players</h2>


    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                <th><span data-translate="global.field.id">ID</span> <span ></span></th>

                <th><span data-translate="baloncestoApp.favouritePlayer.player">Player</span> <span ></span></th>
                <th><span>Nº Favs</span> <span></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
            <tr ng-repeat="favouritePlayer in vm.topFivePlayers track by favouritePlayer.player.id">
                <td><a ui-sref="favourite-player-detail({id:favouritePlayer.id})">{{favouritePlayer.player.id}}</a></td>

                <td>
                    <a ui-sref="player-detail({id:favouritePlayer.player.id})">{{favouritePlayer.player.name}}</a>
                </td>
                <td>
                    {{favouritePlayer.numFavs}}
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>
